
.form .container {
    margin: auto;
    width: 70%;
    border-bottom: 4px solid black;
}

.form .form-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.form-wrap div {
    width: 48%;
    padding:30px;
}

.form-wrap div:last-child {
    width: 100%;
    text-align: left;
}

.form input {
    width: 100%;
}
